<h1>Add Todo</h1>
<form action="/todos" method="post">
    <label for="title">Title</label>
    <input id='title' name='title' type='text'>
    <label for="importance">Importance</label>
    <input id='importance' name='importance' type='number'>
    <label for="date">Due date</label>
    <input id='date' name='date' type='date'>
    <label for="description">Description</label>
    <input id='description' name='description' type='text'>
    <input type='submit' value='Create' name="createButton">
    <input type='submit' value='Create & Overview' name="createAndOverviewButton">
    <input type='submit' value='Overview' name="overviewButton">
</form>
